.quick-view-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.quick-view-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
}

.close-quick-view {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-quick-view:hover,
.close-quick-view:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.product-details {
    display: flex;
}

.product-image {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.product-info {
    display: flex;
    flex-direction: column;
}